<!DOCTYPE html>

<html>

<head>

<title>Insurance Claim Management System</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

<h2>🏥 ICMS</h2>

</div>

<div class="container">

<h1>🏥 Insurance Claim Management System</h1>

<p class="subtitle">

Manage Customers, Policies and Claims Efficiently

</p>

<div class="button-container">

<a href="/customer">

<button>

👤 Add Customer

</button>

</a>

<a href="/policy">

<button>

📄 Add Policy

</button>

</a>

<a href="/claim">

<button>

📝 Submit Claim

</button>

</a>

<a href="/dashboard">

<button>

📊 Dashboard

</button>

</a>

<a href="/search">

<button>

🔍 Search Customer

</button>

</a>

<a href="/delete">

<button>

🗑️ Delete Customer

</button>

</a>

<a href="/edit">

<button>

✏️ Edit Customer

</button>

</a>

</div>

</div>

<footer>

<p>

Developed by Vishnu Vardhan | Python Flask Project

</p>

</footer>

</body>

</html>